body {
    color: #444444;
    font-size: 1.125rem;
    margin: 2.5rem auto;
    max-width: 40.6rem;
    line-height: 1.6;
}

h1,h2,h3 {
    line-height: 1.2rem;
}

.police {
    font-style: italic;
    font-family: monospace;
}